Brotli==1.0.9
certifi==2020.12.5
chardet==4.0.0
gitdb==4.0.5
GitPython==3.1.13
idna==2.10
lz4==3.1.3
Pillow==8.1.0
requests==2.25.1
smmap==3.0.5
texture2ddecoder==1.0.2
urllib3==1.26.3
xmltodict==0.12.0
UnityPy==1.6.2